<!DOCTYPE html>
{% load static %}
<html>
<head>
	<!-- Define Charset -->
    <meta charset="utf-8">

    <!-- Page Title -->
    <title>Lawyers Attorneys Legal Office Responsive Theme - Home </title>

    <!-- Responsive Metatag -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=9" />-->

	<!--Slider Revolution-->
    <link rel="stylesheet" href="{% static 'js/vendors/revolution/css/settings.css'%}">
    <link rel="stylesheet" href="{% static 'js/vendors/revolution/css/extralayers.css'%}" />

	<!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Media queries -->
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->

</head>
<body>
    <!--Preloader-->
    <div class="preloader">
        <div class="status">&nbsp;</div>
    </div>
    <!--End Preloader-->

	

	<!-- Header & navbar-->
	<header>
		<nav class="navbar">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand logo-nav" href="index.html"><img src="{% static 'img/ALICLE_Logo.png' %}" alt="//"></a>
				</div><!-- /.nav-header -->

				<div class="collapse navbar-collapse navbar-collapse navbar-right">
					<ul class="nav navbar-nav">
						<li class="active"><a href="index.html">Home</a></li>
						<li class="dropdown">
							<a href="index.html#" class="dropdown-toggle" data-toggle="dropdown">CLE<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li> <a href="{% url 'on_demand' %}">On-Demand</a></li>
                                <li><a href="{% url 'live_courses' %}">Live Courses</a></li>
								<li><a href="{% url 'webcasts' %}">Webcast</a></li>
								<li><a href="{% url 'publications' %}">Publications/Coursebooks</a></li>
								<li><a href="{% url 'news' %}">Telephone/Audio</a></li>
							</ul>
						</li>
						<li><a href="attorneys.html">About</a></li>
						{% comment %}
						<li class="dropdown">
							<a href="index.html#" class="dropdown-toggle" data-toggle="dropdown">V<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="practice-areas.html">Corporate / Finance</a></li>
								<li><a href="practice-areas.html">Dispute Resolution</a></li>
								<li><a href="practice-areas.html">Labor Law</a></li>
								<li><a href="practice-areas.html">Real Estate</a></li>
								<li><a href="practice-areas.html">Notary Departament</a></li>
								<li><a href="practice-areas.html">Public Law</a></li>
								<li><a href="practice-areas.html">Transp. Accidents</a></li>
								<li><a href="practice-areas.html">Tax and accounting</a></li>
								<li><a href="practice-areas.html">Natural Resources</a></li>
								<li><a href="practice-areas.html">FS and TA</a></li>
							</ul>
						</li>{% endcomment %}
						<li><a href="clients.html">View Content</a></li>
						<li class="dropdown">
							<a href="index.html#" class="dropdown-toggle" data-toggle="dropdown">Login<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="team.html">LAWPASS SOLO</a></li>
								<li><a href="gallery.html">LAWPASS FIRM</a></li>
								<li><a href="shop-grid.html">LOGIN</a></li>
								<li><a href="shop-list.html">CREATE ACCOUNT</a></li>
								<li><a href="shop-single.html">RETRIEVE ACCOUNT</a></li>
							</ul>
						</li>
						<li><a href="contact.html">View Cart <img src="{% static 'img/cart.jpg' %}" /></a></li>

					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- End Header & Nav-->

	

	



	<!-- Services List -->
	<section class="bg-light services">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="section-title">
						<h3>Our Practice Areas</h3>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<ul class="list-group list-group-line list-group-arrow">
					<li class="fa fa-angle-double-right"><a href="index.html#">Antitrust</li>
					<li class="fa fa-angle-double-right"><a href="index.html#">Banking </li>
					<li class="fa fa-angle-double-right"><a href="index.html#">Bankruptcy </li>
					<li class="fa fa-angle-double-right"><a href="index.html#">Business/Corporate Law</li>
					<li class="fa fa-angle-double-right"><a href="index.html#">Commercial Law/UCC </li>
					<li class="fa fa-angle-double-right"><a href="index.html#">Criminal Law </li>
					<li class="fa fa-angle-double-right"><a href="index.html#">Elder Law</li>
					<li class="fa fa-angle-double-right"><a href="index.html#">Elimination of Bias</li>
					<li class="fa fa-angle-double-right"><a href="index.html#">Employee Benefits</li>
					<li class="fa fa-angle-double-right"><a href="index.html#">Employment/Labor Law</li>
					</ul>
					</div>
				<div class="col-sm-3">
					<ul class="list-group list-group-line list-group-arrow">
					<li class="fa fa-angle-double-right"><a href="index.html#">Energy</li>
					<li class="fa fa-angle-double-right"><a href="index.html#">Environmental Law</li>
					<li class="fa fa-angle-double-right"><a href="index.html#">Estate Planningv</li>
					<li class="fa fa-angle-double-right"><a href="index.html#">Ethics</li>
					<li class="fa fa-angle-double-right"><a href="index.html#">Family Law </li>
					<li class="fa fa-angle-double-right"><a href="index.html#">Financial Crisis</li>
					<li class="fa fa-angle-double-right"><a href="index.html#">General Practice </li>
					<li class="fa fa-angle-double-right"><a href="index.html#">Government Affairs</li>
					<li class="fa fa-angle-double-right"><a href="index.html#">Health Law </li>
					<li class="fa fa-angle-double-right"><a href="index.html#">Healthcare Reform</li>
					</ul>
				</div>
				<div class="col-sm-3">
					<ul class="list-group list-group-line list-group-arrow">
					<li class="fa fa-angle-double-right"><a href="index.html#">Immigration</li>
					<li class="fa fa-angle-double-right"><a href="index.html#">Insurance</li>
					<li class="fa fa-angle-double-right"><a href="index.html#">Intellectual Property </li>
					<li class="fa fa-angle-double-right"><a href="index.html#">International Practice </li>
					<li class="fa fa-angle-double-right"><a href="index.html#">Land Use</li>
					<li class="fa fa-angle-double-right"><a href="index.html#">Law Practice </li>
					<li class="fa fa-angle-double-right"><a href="index.html#">Lawyering Skills </li>
					<li class="fa fa-angle-double-right"><a href="index.html#">Litigation </li>
					<li class="fa fa-angle-double-right"><a href="index.html#">Nonprofit Organizations </li>
					<li class="fa fa-angle-double-right"><a href="index.html#">Privacy</li>
					</ul>
					
					</div>
					<div class="col-sm-3">
					<ul class="list-group list-group-line list-group-arrow">
					<li class="fa fa-angle-double-right"><a href="index.html#">Real Estate </li>
					<li class="fa fa-angle-double-right"><a href="index.html#">Science & Technology </li>
					<li class="fa fa-angle-double-right"><a href="index.html#">Securities</li>
					<li class="fa fa-angle-double-right"><a href="index.html#">Substance Abuse</li>
					<li class="fa fa-angle-double-right"><a href="index.html#">Taxation </li>
					<li class="fa fa-angle-double-right"><a href="index.html#">Torts </li>					
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- End Our Services -->

	

	<!-- Appointment -->
	<section class="generic appointment bg-4">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="section-title">
						<h3>Questions?</h3>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-9">
					<div class="ct-form clearfix">
						<h6>Need Help, Want More Information? Contact Us</h6>
						<p>Your Request Will Be Processed by a ALI-CLE Representative as soon as possible.</p>
						<form id="request" action="request-form.php" method="post" accept-charset="utf-8">
							<div class="row">
								<div class="col-sm-12">
									<div class="form-group">
										<label for="name" class="sr-only">Name</label>
										<i class="fa fa-user"><input type="text" class="form-control" placeholder="Name and Lastname" name="name" id="name"/></i>
									</div>
									<div class="form-group">
										<label for="phone" class="sr-only">Phone number</label>
										<i class="glyphicon glyphicon-erase"><input type="text" class="form-control" placeholder="Contact number" name="phone" id="phone"/></i>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<i class="fa fa-calendar-o"><input type="text" name="datepicker" id="datepicker" placeholder="Date From" class="form-control"></i>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<i class="fa fa-calendar-o"><input type="text" name="datepicker" id="datepicker2" placeholder="Date To" class="form-control"></i>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<div class="form-group">
										<label for="message" class="sr-only">Message</label>
										<i class="glyphicon glyphicon-pencil"><textarea class="form-control message" id="message" placeholder="Message"></textarea></i>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<div class="input-group appointment">
										<span class="input-group-addon">
											<input type="checkbox" aria-label="...">
										</span>
										<p>Send me a copy of this information</p>
									</div>
								</div>
							</div>
							<input type="submit" class="btn btn-default btn-color-border-solid" value="Send Message">
						</form>
					</div>
				</div>
				{% comment %}<div class="col-sm-7 hidden-xs">
					<figure class="animated fadeInUpBig" data-animation="fadeInUpBig" data-animation-delay="400">
						<img src="{% static 'img/person.png' %}" alt="//">
					</figure>
				</div>{% endcomment %}
			</div>
		</div>
	</section>
	<!-- End Appointment -->

	<!-- Testimonials -->
{% comment %}
	<section class="generic" >
    	<div class="container">
    		<div class="row">
				<div class="col-sm-12">
					<div class="section-title">
						<h3>Testimonials</h3>
					</div>
				</div>
			</div>
			<div class="sky-carousel">
				<div class="sky-carousel-wrapper">
					<ul class="sky-carousel-container">
						<li>
							<i class="glyphicon glyphicon-plus"></i>
							<img src="{% static 'img/carrousell/1.jpg' %}" alt="">
							<div class="sc-content">
								<h2>"I found Mike to be a very hands on lawyer, he was very thorough in handling all the paperwork and communication. He always kept us informed on how the case was going. I found Mike to be very satisfying as a lawyer. I would recommend him to anyone."</h2>
								<p><span>Peter T. </span>from Waupaca, WI- 7/21/2015</p>
							</div>
						</li>
						<li>
							<i class="glyphicon glyphicon-plus"></i>
							<img src="{% static 'img/carrousell/2.jpg' %}" alt="">
							<div class="sc-content">
								<h2>"My husband and I were referred to Mike for help with his disability claim. After our first meeting with Mike we were impressed with not only his knowledge about disability law but his sincere concern for my husband’s wellbeing during the process. Mike and his staff kept us informed throughout the process and respectfully answered every question we had."</h2>
								<p><span>Tammy H. </span>from Manitowoc, WI- 1/09/2015</p>
							</div>
						</li>
						<li>
							<i class="glyphicon glyphicon-plus"></i>
							<img src="{% static 'img/carrousell/3.jpg' %}" alt="">
							<div class="sc-content">
								<h2>"I found Mike to be a very hands on lawyer, he was very thorough in handling all the paperwork and communication. He always kept us informed on how the case was going. I found Mike to be very satisfying as a lawyer. I would recommend him to anyone."</h2>
								<p><span>Karen O.</span>from Manitowoc, WI- 1/09/2015</p>
							</div>
						</li>
						<li>
							<i class="glyphicon glyphicon-plus"></i>
							<img src="{% static 'img/carrousell/4.jpg' %}" alt="">
							<div class="sc-content">
								<h2>“Never expected to get such a powerful theme for this little money! It's a pleasure to work with, seems it just guesses my thoughts! I was looking for a really powerful corporate theme for my website. Now I've found it!"</h2>
								<p><span>Mittie P.</span>from Manitowoc, WI- 1/09/2015</p>
							</div>
						</li>
						<li>
							<i class="glyphicon glyphicon-plus"></i>
							<img src="{% static 'img/carrousell/5.jpg' %}" alt="">
							<div class="sc-content">
								<h2>“Never expected to get such a powerful theme for this little money! It's a pleasure to work with, seems it just guesses my thoughts! I was looking for a really powerful corporate theme for my website. Now I've found it!"</h2>
								<p><span>Karen O.</span>From Manitowoc, WI- 1/09/2015</p>
							</div>
						</li>
						<li>
							<i class="glyphicon glyphicon-plus"></i>
							<img src="{% static 'img/carrousell/6.jpg' %}" alt="">
							<div class="sc-content">
								<h2>"I found Mike to be a very hands on lawyer, he was very thorough in handling all the paperwork and communication. He always kept us informed on how the case was going. I found Mike to be very satisfying as a lawyer. I would recommend him to anyone."</h2>
								<p><span>Maria V.</span>from Manitowoc, WI- 1/09/2015</p>
							</div>
						</li>
						<li>
							<i class="glyphicon glyphicon-plus"></i>
							<img src="{% static 'img/carrousell/1.jpg' %}" alt="">
							<div class="sc-content">
								<h2>“Never expected to get such a powerful theme for this little money! It's a pleasure to work with, seems it just guesses my thoughts! I was looking for a really powerful corporate theme for my website. Now I've found it!"</h2>
								<p><span>Leslie L.</span>from Manitowoc, WI- 1/09/2015</p>
							</div>
						</li>
						<li>
							<i class="glyphicon glyphicon-plus"></i>
							<img src="{% static 'img/carrousell/2.jpg' %}" alt="">
							<div class="sc-content">
								<h2>"I found Mike to be a very hands on lawyer, he was very thorough in handling all the paperwork and communication. He always kept us informed on how the case was going. I found Mike to be very satisfying as a lawyer. I would recommend him to anyone."</h2>
								<p><span>Dora T.</span>from Manitowoc, WI- 1/09/2015</p>
							</div>
						</li>
						<li>
							<i class="glyphicon glyphicon-plus"></i>
							<img src="{% static 'img/carrousell/3.jpg' %}" alt="">
							<div class="sc-content">
								<h2>“Never expected to get such a powerful theme for this little money! It's a pleasure to work with, seems it just guesses my thoughts! I was looking for a really powerful corporate theme for my website. Now I've found it!"</h2>
								<p><span>Dora T.</span>from Manitowoc, WI- 1/09/2015</p>
							</div>
						</li>
						<li>
							<i class="glyphicon glyphicon-plus"></i>
							<img src="{% static 'img/carrousell/4.jpg' %}" alt="">
							<div class="sc-content">
								<h2>"Never expected to get such a powerful theme for this little money! It's a pleasure to work with, seems it just guesses my thoughts! I was looking for a really powerful corporate theme for my website. Now I've found it!"</h2>
								<p><span>Dora T.</span>from Manitowoc, WI- 1/09/2015</p>
							</div>
						</li>
						<li>
							<i class="glyphicon glyphicon-plus"></i>
							<img src="{% static 'img/carrousell/5.jpg' %}" alt="">
							<div class="sc-content">
								<h2>“Never expected to get such a powerful theme for this little money! It's a pleasure to work with, seems it just guesses my thoughts! I was looking for a really powerful corporate theme for my website. Now I've found it!"</h2>
								<p><span>Dora T.</span>from Manitowoc, WI- 1/09/2015</p>
							</div>
						</li>
						<li>
							<i class="glyphicon glyphicon-plus"></i>
							<img src="{% static 'img/carrousell/6.jpg' %}" alt="">
							<div class="sc-content">
								<h2>"I found Mike to be a very hands on lawyer, he was very thorough in handling all the paperwork and communication. He always kept us informed on how the case was going. I found Mike to be very satisfying as a lawyer. I would recommend him to anyone."</h2>
								<p><span>Dora T.</span>from Manitowoc, WI- 1/09/2015</p>
							</div>
						</li>
						<li>
							<i class="glyphicon glyphicon-plus"></i>
							<img src="{% static 'img/carrousell/1.jpg' %}" alt="">
							<div class="sc-content">
								<h2>“Never expected to get such a powerful theme for this little money! It's a pleasure to work with, seems it just guesses my thoughts! I was looking for a really powerful corporate theme for my website. Now I've found it!"</h2>
								<p><span>Dora T.</span>from Manitowoc, WI- 1/09/2015</p>
							</div>
						</li>
						<li>
							<i class="glyphicon glyphicon-plus"></i>
							<img src="{% static 'img/carrousell/2.jpg' %}" alt="">
							<div class="sc-content">
								<h2>"I found Mike to be a very hands on lawyer, he was very thorough in handling all the paperwork and communication. He always kept us informed on how the case was going. I found Mike to be very satisfying as a lawyer. I would recommend him to anyone."</h2>
								<p><span>Dora T.</span>from Manitowoc, WI- 1/09/2015</p>
							</div>
						</li>
						<li>
							<i class="glyphicon glyphicon-plus"></i>
							<img src="{% static 'img/carrousell/3.jpg' %}" alt="">
							<div class="sc-content">
								<h2>“Never expected to get such a powerful theme for this little money! It's a pleasure to work with, seems it just guesses my thoughts! I was looking for a really powerful corporate theme for my website. Now I've found it!"</h2>
								<p><span>Dora T.</span>from Manitowoc, WI- 1/09/2015</p>
							</div>
						</li>
						<li>
							<i class="glyphicon glyphicon-plus"></i>
							<img src="{% static 'img/carrousell/4.jpg' %}" alt="">
							<div class="sc-content">
								<h2>"I found Mike to be a very hands on lawyer, he was very thorough in handling all the paperwork and communication. He always kept us informed on how the case was going. I found Mike to be very satisfying as a lawyer. I would recommend him to anyone."</h2>
								<p><span>Dora T.</span>from Manitowoc, WI- 1/09/2015</p>
							</div>
						</li>
						<li>
							<i class="glyphicon glyphicon-plus"></i>
							<img src="{% static 'img/carrousell/5.jpg' %}" alt="">
							<div class="sc-content">
								<h2>“Never expected to get such a powerful theme for this little money! It's a pleasure to work with, seems it just guesses my thoughts! I was looking for a really powerful corporate theme for my website. Now I've found it!"</h2>
								<p><span>Dora T.</span>from Manitowoc, WI- 1/09/2015</p>
							</div>
						</li>
						<li>
							<i class="glyphicon glyphicon-plus"></i>
							<img src="{% static 'img/carrousell/6.jpg' %}" alt="">
							<div class="sc-content">
								<h2>"I found Mike to be a very hands on lawyer, he was very thorough in handling all the paperwork and communication. He always kept us informed on how the case was going. I found Mike to be very satisfying as a lawyer. I would recommend him to anyone."</h2>
								<p><span>Dora T.</span>from Manitowoc, WI- 1/09/2015</p>
							</div>
						</li>
						<li>
							<i class="glyphicon glyphicon-plus"></i>
							<img src="{% static 'img/carrousell/1.jpg' %}" alt="">
							<div class="sc-content">
								<h2>“Never expected to get such a powerful theme for this little money! It's a pleasure to work with, seems it just guesses my thoughts! I was looking for a really powerful corporate theme for my website. Now I've found it!"</h2>
								<p><span>Dora T.</span>from Manitowoc, WI- 1/09/2015</p>
							</div>
						</li>
						<li>
							<i class="glyphicon glyphicon-plus"></i>
							<img src="{% static 'img/carrousell/2.jpg' %}" alt="">
							<div class="sc-content">
								<h2>"I found Mike to be a very hands on lawyer, he was very thorough in handling all the paperwork and communication. He always kept us informed on how the case was going. I found Mike to be very satisfying as a lawyer. I would recommend him to anyone."</h2>
								<p><span>Dora T.</span>from Manitowoc, WI- 1/09/2015</p>
							</div>
						</li>
						<li>
							<i class="glyphicon glyphicon-plus"></i>
							<img src="{% static 'img/carrousell/3.jpg' %}" alt="">
							<div class="sc-content">
								<h2>“Never expected to get such a powerful theme for this little money! It's a pleasure to work with, seems it just guesses my thoughts! I was looking for a really powerful corporate theme for my website. Now I've found it!"</h2>
								<p><span>Dora T.</span>from Manitowoc, WI- 1/09/2015</p>
							</div>
						</li>
						<li>
							<i class="glyphicon glyphicon-plus"></i>
							<img src="{% static 'img/carrousell/4.jpg' %}" alt="">
							<div class="sc-content">
								<h2>"I found Mike to be a very hands on lawyer, he was very thorough in handling all the paperwork and communication. He always kept us informed on how the case was going. I found Mike to be very satisfying as a lawyer. I would recommend him to anyone."</h2>
								<p><span>Dora T.</span>from Manitowoc, WI- 1/09/2015</p>
							</div>
						</li>
						<li>
							<i class="glyphicon glyphicon-plus"></i>
							<img src="{% static 'img/carrousell/5.jpg' %}" alt="">
							<div class="sc-content">
								<h2>“Never expected to get such a powerful theme for this little money! It's a pleasure to work with, seems it just guesses my thoughts! I was looking for a really powerful corporate theme for my website. Now I've found it!"</h2>
								<p><span>Dora T.</span>from Manitowoc, WI- 1/09/2015</p>
							</div>
						</li>
						<li>
							<i class="glyphicon glyphicon-plus"></i>
							<img src="{% static 'img/carrousell/6.jpg' %}" alt="">
							<div class="sc-content">
								<h2>"I found Mike to be a very hands on lawyer, he was very thorough in handling all the paperwork and communication. He always kept us informed on how the case was going. I found Mike to be very satisfying as a lawyer. I would recommend him to anyone."</h2>
								<p><span>Dora T.</span>from Manitowoc, WI- 1/09/2015</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
    	</div>
    </section>
	{% endcomment %}
	<!-- End testimonials -->

	<!-- Recent News -->
	<section class="generic">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="section-title">
						<h3>Upcoming Events</h3>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-md-4">
					<a href="index.html#" class="featured-item ct-icon">
						<figure>
							<img class="img-responsive" src="{% static 'img/features/Virginia-Banner.jpg" alt="//">' %}
							<div class="icon-image"><span class="fa fa-newspaper-o" aria-hidden = "true"></span></div>
						</figure>
						<div class="content text-center">
							<h4>IP LAW</h4>
							<p>Intellectual Property Ethics Course.</p>
						</div>
						<div class="foot">
							<ul>
								<li>
									<span class="fa fa-user"></span>Richmond, VA
								</li>
								<li class="right">
									<span class="fa fa-calendar-o"></span>12 April 2015
								</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="col-sm-6 col-md-4">
					<a href="index.html#" class="featured-item ct-icon">
						<figure>
							<img class="img-responsive" src="{% static 'img/features/PA-Banner.jpg" alt="//">' %}
							<div class="icon-image"><span class="fa fa-newspaper-o"></span></div>
						</figure>
						<div class="content text-center">
							<h4>Real Estate practice</h4>
							<p>Real Estate Practice Ethics Course.</p>
						</div>
						<div class="foot">
							<ul>
								<li>
									<span class="fa fa-user"></span>Philadelphia, Pa
								</li>
								<li class="right">
									<span class="fa fa-calendar-o"></span>12 April 2015
								</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="col-sm-6 col-md-4">
					<a href="index.html#" class="featured-item ct-icon">
						<figure>
							<img class="img-responsive" src="{% static 'img/features/California-Banner.jpg" alt="//">' %}
							<div class="icon-image"><span class="fa fa-newspaper-o"></span></div>
						</figure>
						<div class="content text-center">
							<h4>Anti-Money Laundering </h4>
							<p>Anti-Money laundering Course.</p>
						</div>
						<div class="foot">
							<ul>
								<li>
									<span class="fa fa-user"></span>San Fransisco, CA
								</li>
								<li class="right">
									<span class="fa fa-calendar-o"></span>12 June 2016
								</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="text-center">
					<a href="" class="btn btn-default btn-color-border-solid">View All News</a>
				</div>
			</div>
		</div>
	</section>
	<!-- End Recent News -->

	<!-- Newsletter -->
	<section class="generic newsletter bg-5">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<h6>Newsletter Subscription</h6>
					<form id="newsletter" class="input-group" action="newsletter.php" method="post" accept-charset="utf-8">
    					<input type="email" class="form-control" placeholder="Enter a valid E-mail">
                        <button type="submit" class="btn btn-send" data-loading-text="Sending...">Subscribe</button>
					</form>
				</div>

			</div>
		</div>
	</section>
	<!-- End Newsletter -->

    <!-- Footer -->
	<footer>
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="widget col-sm-6 col-md-3">
						<h5 class="widget-title">Contact Info</h5>
						<p>The American Law Institute</p>
						<address class="address-list">
							<i class="fa fa-building-o"></i>4025 Chestnut Street Philadelphia, PA 19104-3099 <br>
							<i class="fa fa-whatsapp"></i> 1-800-CLE-NEWS<br>
							<i class="fa fa-envelope"></i> TeamMCLE@ali-cle.org <br>
						</address>
					</div>
					<div class="widget col-sm-6 col-md-3">
						<h5 class="widget-title">Recent News</h5>
						<ul class="media-list">
							<li class="media">
								<a class="pull-left" href="index.html#">
									<img class="media-object" src="{% static 'img/news/ALI-CLE-logo-21.png' %}" alt="//">
								</a>
								<div class="media-body">
									<h5 class="media-heading"><a href="index.html#">ALI-CLE	News Heading One.</a></h5>
									<p class="media-meta">Posted November 11 2015</p>
								</div>
							</li>
							<li class="media">
								<a class="pull-left" href="index.html#">
									<img class="media-object" src="{% static 'img/news/ALI-CLE-logo-21.png' %}" alt="//">
								</a>
								<div class="media-body">
									<h5 class="media-heading"><a href="blog-left-sidebar.html">ALI-CLE	News Heading Two.</a></h5>
									<p class="media-meta">Posted November 12 2015</p>
								</div>
							</li>
						</ul>
					</div>
					<div class="widget col-sm-6 col-md-3">
						<h5 class="widget-title">Practice Areas</h5>
						<div class="ct-list">
							<ul class="list-group list-arrow">
								<li class="media-heading fa fa-angle-right"><a href="index.html#">Criminal Law</a></li>
								<li class="media-heading fa fa-angle-right"><a href="index.html#">Corporate / Finance</a></li>
								<li class="media-heading fa fa-angle-right"><a href="index.html#">Real State</a></li>
								<li class="media-heading fa fa-angle-right"><a href="index.html#">Family Law</a></li>
								<li class="media-heading fa fa-angle-right"><a href="d.html">Transportation Accidents</a></li>
							</ul>
						</div>
					</div>
					{% comment %} <div class="widget col-sm-6 col-md-3">
						<h5 class="widget-title">E-Mail Directory</h5>
						<ul class="list-group list-arrow">
							<li class="media-heading fa fa-angle-right">Julie Scribner,<br/> CFO and Director of ALI CLE<br/>(215) 243-1672</a></li>
							<li class="media-heading fa fa-angle-right">Nancy Mulloy-Bonn,<br/>Chief CLE Content Officer<br/>(215) 243-1625</a></li>
							<li class="media-heading fa fa-angle-right">Diane Schnitzer,<br/>Director of Human Resources<br/>(215) 243-4000</a></li>
							<li class="media-heading fa fa-angle-right">Nancy Cline,<br/>Customer Service/MCLE Director<br/>(215) 243-4007</a></li>
						</ul>
					</div>{% endcomment %}
				</div>
			</div>
		</div>
		<div class="copy">
			<div class="container">
				<div class="row">
					{% comment %} <div class="col-sm-6"><p class="down">Lawyers Attorneys Legal Office Responsive Theme.<p></div>{% endcomment %} 
					<div class="col-sm-6">
						<ul class="social-links">
							<li>
								<a href="index.html#" title="Skype" class="tooltips">
									<i class="fa fa-skype"></i>
								</a>
							</li>
							<li>
								<a href="index.html#" title="Twitter" class="tooltips">
									<i class="fa fa-linkedin"></i>
								</a>
							</li>
							<li>
								<a href="index.html#" title="Pinterest" class="tooltips">
									<i class="fa fa-pinterest"></i>
								</a>
							</li>
							<li>
								<a href="index.html#" title="Facebook" class="tooltips">
									<i class="fa fa-facebook"></i>
								</a>
							</li>
							<li>
								<a href="index.html#" title="Twitter" class="tooltips">
									<i class="fa fa-twitter"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- End Footer -->

	<!-- ======================= JQuery libs =========================== -->
	<!-- jQuery -->
	<script src="{% static 'js/vendors/jquery/jquery-1.11.3.min.js' %}" ></script>

    <!-- Bootstrap-->
	<script src="{% static 'js/vendors/bootstrap.min.js' %}" ></script>

	<!-- Nav -->
	<script src="{% static 'js/vendors/jquery/jquery.nav.js' %}" ></script>

	<!-- Owl Carousel -->
	<script src="{% static 'js/vendors/owl.carousel.min.js' %}" ></script>

	<!-- Calendar -->
	<script src="{% static 'js/vendors/jquery-ui-1.10.3.custom.js' %}"></script>

	<!-- Easy Chart -->
    <script src="{% static 'js/vendors/jquery/jquery.easy-pie-chart.js' %}" ></script>

	<!--Twitter Feed-->
	<script src="{% static 'js/vendors/twitter/jquery.tweet.min.js' %}"></script>

	<!-- Gmaps -->
	<script src="'http://maps.google.com/maps/api/js?sensor=true" ></script>
	<script src="{% static 'js/vendors/gmaps.js' %}" ></script>

	<!-- Appear -->
	<script src="{% static 'js/vendors/jquery/jquery.appear.js' %}" ></script>

	<!-- Isotope  -->
	<script type="text/javascript" src="{% static 'js/vendors/isotope/jquery.isotope.min.js' %}"></script>

	<!-- bgYtVideo -->
	<script src="{% static 'js/vendors/jquery.bgYtVideo.js' %}" ></script>

	<!-- Slider Revolution -->
	<script src="{% static 'js/vendors/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
	<script src="{% static 'js/vendors/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>

	<!-- Sky Carousel -->
	<script src="{% static 'js/vendors/jquery.sky.carousel-1.0.2.min.js' %}"></script>

	<!-- Range Slider -->
	<script src="{% static 'js/vendors/bootstrap-slider.js' %}" ></script>

	<!-- Custom JS -->
	<script src="{% static 'js/script.js' %}"></script>

</body>
</html>
